/*Police d'écriture importé*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*Propriétés globales*/
body{
    font-family: 'Roboto', sans-serif;
}
h1, h2{
    color: #323232;
}
h2{
    font-size:1.75rem;
}
h3{
    color:#004d5a;
    font-size:1.5rem;
}
section, footer{
    padding: 20px;
}

/*Header de ma page*/
header>h1{
    padding-left: 30px;
}

/*Menu de navigation principal*/
.nav_main{
    background-color:rgb(31, 31, 31);
    padding: 0;
}
.nav_main>ul{ /*Pour pouvoir aligner ma liste de liens je vais devoir rendre son parent (ul) flexible (donc de type display:flex)*/
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;/*pour mettre mes liens en colonne*/
    list-style: none;/*pour enlever les puces de mes listes*/
    text-align: center;
}
.nav_main>ul>li>a{
    padding: 1.5rem;
    display: block;/*pour pouvoir mettre mon padding*/
    color:white;
    text-decoration: none;/*pour enlever le soulignement*/
}

/*Section de présentation*/
.section_presentation{
    background-color: #9c9c9c;
}

/*Bannière*/
.banner{
    width: 100%;
    height: 300px;
    background-image: url("../images/banner.jpg");
    background-attachment: fixed;
    background-size: cover;
    display: none;
}

/*Section des actualités*/
.article{
    padding: 0 10px;
    text-align: left;
}
.article>p{
    color:#656565;
}

/*Section du formulaire*/
.section_form>h2{
    text-align: center;
    text-transform: uppercase;
}
.section_form>.line{
    background-color:#004d5a;
    width:40%;
    margin: auto;
    height: 2px;
}
.section_form> .form_main{
    text-align: center;
    margin: 20px 0;
}
.section_form>.form_main>div{
    margin: 20px;
}
.section_form>.form_main>div>label{
    display:block;
    font-weight:bold;
    color: #555555;
    padding-bottom: 10px;
}
.section_form>.form_main>div>input:not([type="submit"]){
    border: solid 2px #004d5a;
    font-size:1.2rem;
    padding: 10px;
}
.section_form>.form_main>div>input[type="submit"]{
    background-color: #004d5a;
    cursor: pointer;
    border: none;
    color: white;
    padding: 7.5px;
    font-weight: bold;
    font-size:1.2rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/*Pied de page*/
.footer_main{
    background-color: rgb(31, 31, 31);
}
.footer_main nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.footer_main nav ul li a{
    text-decoration: none;
    color:white;
}

/*nav réseaux sociaux footer*/
.footer_socials_links ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer_socials_links>ul>li{
    font-size:1.6rem;
    padding: 10px;
}
.fa-facebook, .fa-twitter, .fa-pinterest, .fa-snapchat{
    font-size: 2rem;
}
.fa-facebook{
    color: #3b5998;
}
.fa-twitter{
    color: #00aced;
}
.fa-pinterest{
    color: #bd081c;
}
.fa-snapchat{
    color: #fffc01;
}

/*nav liens footer*/

.footer_links ul li{
    margin: 15px;
}

/*Changements au survol de la souris*/
.section_form>.form_main>div>input[type="submit"]:hover{
    background-color: rgb(31, 31, 31);
}
.fa-facebook:hover, .fa-twitter:hover, .fa-pinterest:hover, .fa-snapchat:hover{
    text-shadow: 0px 0px 3px rgb(197, 197, 197);
}

.footer_links ul li a:hover{
    color: #01849b;
}
.nav_main>ul>li>a:hover{/*utilisation de la pseudo-classe :hover pour changer de style au survol de la souris*/
    color: #004d5a;
    background-color: white;
}

/*MEDIA QUERIES*/

@media screen and (min-width:768px){/*pour format tablette*/
    /*Menu de navigation principal*/
    .nav_main>ul{
        display: flex;
        flex-direction: row;
    }
    .nav_main>ul>li>a{
        padding: 1rem;
    }

    /*Section news*/
    .section_news .articles{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .section_news .articles .article{
        width: 40%;
        box-sizing: border-box;
    }

    /*Pied de page*/
    .footer_links>ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media screen and (min-width:1224px){/*pour format ordinateur*/
    /*Bannière*/
    div.banner{
        display: block;
    }

    /*Section news*/
    .section_news .articles{
        flex-wrap: nowrap;
        align-items:stretch;
    }
    .section_news .articles .article{
        width: 100%;
    }

    /*Section form*/
    .section_form>.form_main{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .section_form>.form_main>div{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .section_form>.form_main>div>label{
        padding: 0 20px;
    }
}